body{

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
    background: #8ace00;
    color:#001f3f;

}

h1,h2,h3,h4{
    font-family: "Ubuntu", sans-serif;

}

.container{
    max-width:840px;
    margin:0 auto;

}

.container>div{
    margin: 20px auto;

}

.intro{
    text-align: center;
}

.about-grid{
    display:grid; /* gird가 컬럼, 열 등을 나눌 수 있음*/
    grid-template-columns: 33% 33% 33%;

}
@media(max-width:500px){  /*넓이가 500까지는 하나로 보이고 그 이후부터는 두개로 나뉘어짐*/
    .about-grid{  
        grid-template-columns:500%;  
    }
}

@media(max-width:500px){  
    .projects-grid{  
        grid-template-columns:100%;  
    }  
}

.i-am, .i-like{
    text-align: center;
    text-decoration: none;

}


.about-list{
    list-style: none; /* 목록? 에 dot없앰*/
    padding: 0;
}

.about-list2{
    list-style:decimal; /* 목록? 숫자로 표시*/
    display: table;
    margin-left: auto;
    margin-right:auto;
    padding:0;
}

.about-list3{
    list-style:circle; /* 목록? 숫자로 표시*/
    display: table;
    margin-left: auto;
    margin-right:auto;
    padding:0;
}

.projects-heading{
    text-align: center;
}

.projects-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    
}
@media(max-width:650px){  
    .projects-grid{  
        grid-template-columns:1fr 1fr;  
    }  
}
@media(max-width:500px){  
    .projects-grid{  
        grid-template-columns:100%;  
    }  
}/*500미만은 한개씩, 650미만은 두개씩, 그 이상은 세개씩 보이도록 설정*/


.project-image{
    justify-self: center ;
    padding : 9%;
    width: 200px;
}

.links-and-contact{
    display:grid;
    grid-template-columns: 30% 70%;
}

@media(max-width:650px){  
    .links-and-contact{  
        grid-template-columns:100%;  
    }
  }


.links{
    justify-self: center;
}

.links-list{
    list-style:none;
    padding:0;
}

form{
    width:250px;
    margin:0 auto;
}

form input[type="submit"]{
    width:250px;

}

.submit-button-wrapper{
    margin: 20px 0;
    background-color: rgba(0, 229, 255, 0.629);
    color:black;
}

.map{
    text-align: center;
}

.profile-picture{
    width: 250px;
    border-radius: 20%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75),rgba(0,0,0,0));
}